{
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": [
                "*.html",
                "*.ts"
            ],
            "options": {
                "tabWidth": 4,
                "printWidth": 110
            }
        }
    ]
}